@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="text-light mb-4">@ViewData["Title"]</h3>

<div class="row text-light">
    <div class="col-md-8">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <div class="alert alert-danger">
            <strong>Warning:</strong> Deleting this data will permanently remove your account and <u>this cannot be recovered</u>.
        </div>

        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="mb-3">
            <button class="btn btn-outline-info fw-bold" type="submit">
                <i class="bi bi-download me-1"></i> Download My Data
            </button>
        </form>

        <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-danger fw-bold">
            <i class="bi bi-trash3 me-1"></i> Delete My Account
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
